* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container {
  border: 3px solid #000;
  border-radius: 3px;
  width: 50vw;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.book:nth-child(odd) {
  background: #dee2e6;
}
